<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="{{url_for('static', filename='zadanie.css') }}">
    </head>
    <body>
        <h1 class=first>Witaj na mojej stronce!!</h1>
        <img src="{{url_for('static',filename='pika.jpg')}}" alt="Pikachu" title="as a mem", width='256' height='144'>
        <h1 class=second>O mnie</h1>
        <p><strong>Imię</strong>: Filippo</p>
        <p><strong>Nazwisko:</strong> Pikachu</p>
    </body>
</html>
